body {
    background-image: url("../Images/back.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
  }
  
  .content {
      position: relative;
    }
    
    .card-img {
      display: block;
      width: 100%;
      height: auto;
    }
    
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background: rgba(0, 0, 0, 0.5);
    }
  
  .content:hover .overlay {
      opacity: 1;
      box-shadow: 2px 2px 8px 8px black;
    }
  .text {
      color: white;
      font-size: 25px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
    
  .navbar
  {
    background: rgba(0, 0, 0, 0.7);
  }
  
    .navbar a {
      color: white;
      text-align: center;
      padding: 6px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .navbar a:hover {
      border-bottom:4px solid green;
      border-top:4px solid green;
      color: white;
    }
    .dropdown-menu .dropdown-item a:hover
    {
      border-bottom:4px solid green;
      border-top: 4px solid green;
      color: white;
    }
    .navbar a.active {
      border-bottom:4px solid blue;
      border-top: 4px solid blue;
      color: white;
    }
  
    